{% extends "layouts/base-fullscreen.html" %}
{% block title %} Signed OUT! {% endblock %}
{% block content %}
  <div class="page-header align-items-start min-vh-100"
       style="background-image: url('https://i.pinimg.com/originals/09/c0/26/09c0263dc7634794f9902f748db10d3a.jpg');"
       loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  Newspaper
                </h4>
                <div class="row mt-3">
                  <p class="mb-0 text-white text-center">
                    {% if msg %}
                      {{ msg | safe }}
                    {% else %}
                      You was Logged OUT!
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center">
                <a href="/" class="btn bg-gradient-primary w-100 my-4 mb-2">Back !</a>
              </div>
              <div class="text-center">
                <a href="{% url "login" %}" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign IN</a>
              </div>
              <p class="mt-4 text-sm text-center">
                Don't have an account?
                <a href="{% url "register" %}" class="text-primary text-gradient font-weight-bold">Sign UP</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
